.footer {
    background-color: #4C394E;
}

.footer__container {
    width: 1296px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 32px 52px;
    flex-wrap: wrap;
}

.footer__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #F8FDFE;
    padding: 17px 0 0 0;
    margin: 0;
    padding: 1px 1px 0 0;
    max-width: 300px;
}