.header {
    background-color: #FFFFFF;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header__top {
    background-color: #10BBD5;
    padding-top: 20px;
    padding-bottom: 15px;
}

.header__container {
    width: 1296px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    width: 1296px;
    margin: 0 auto;
    padding-top: 5px;
    padding-bottom: 3px;
}


.header__nav a {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    text-decoration: none;
}